{% block content %}
{% load static %}

<p>This shit goes here
    you can all the crap you Here
    just ke trying cause this is a container fluid container
    Should be rezzable to it
</p><br>

<!--<img src="{% static 'main/img/homer-ahh.gif' %}" class="rounded mx-auto d-block img-container"
alt="img">-->


<img src="https://media.giphy.com/media/xU9TT471DTGJq/giphy.gif" class="rounded mx-auto d-block img-container"
alt="img">


{% endblock %}


<!-- https://media.giphy.com/media/xU9TT471DTGJq/source.gif -->