{% block content %}
{% load static %}


    <li class="item-center-align">
        <p>This shit goes here
            you can all the crap you Here
            just ke trying cause this is a container fluid container
            Should be rezzable to itttttt
        </p><br>
    </li>
    <!--<img src="{% static 'main/img/homer-ahh.gif' %}" class="rounded mx-auto d-block img-container"
alt="img">-->

    <li class="item-center-align">
      <!--  <img src= "https://media.giphy.com/media/xU9TT471DTGJq/giphy.gif" class="rounded mx-auto d-block img-container"
            alt="img"> -->
        <video id="video" controls autoplay>
            <source src= "https://img-9gag-fun.9cache.com/photo/a9nyErL_460svvp9.webm" type="video/mp4">
            </video>
    </li>
    <div class="line"></div>

    <li class="btn-grid-color item-center-align"><a href="/next/"><button type="button"
        class="btn btn-secondary btn btn-dark btn-lg">Next</button></a>
</li>

{% endblock %}


<!-- https://media.giphy.com/media/xU9TT471DTGJq/source.gif -->