{% extends "main/index.html" %}
{% block content %}

<h1>Thank you for the time</h1><br>
<h4>Wether you are feeling Sad, Anxious, Cheerfull or in any other 
    emotional state, we can all use the laugh or the tought to boost or change
    your current mood</h4>

<p>
    This webite is a simple project I decided to create. Where i can share
    some of my hobbie for human brain science and emotional intelligence applied to 
    everyday living.
    This project was based and build in
    Python and Django Framework. 


</p>

<div class="line"></div>



{% endblock %}