{% extends "main/index.html" %}

{% block content %}
	<br>

	<h2>Welcome to IsHueBe.</h2>
	<h5>Thanks for giving this website a try</h5>

	<p><strong> 
		This is a simple experiment that might boost your day or 
		simply offer you a pleasant time
	</strong></p>
	</div>

	<div class="line"></div>


	<center>
	<li class="btn-grid-color" style="list-style: none;"><a href="/start/"><button type="button"
		class="btn btn-secondary btn-lg btn-dark">Shall we Start?</button></a>
	</li>
	</center>


{% endblock %}