{% extends "main/index.html" %}

{% block content %}
<div class="content-center-align">

	<h2>Welcome to IsHueBe</h2>
	<h5>Thanks for giving this website a try</h5>

	<div class="line"></div>
	<p><strong>
			This is a simple experiment that might boost your day or
			simply offer you a pleasant time.

			<p id="quote"><strong>'Let the kid drive the road upon but make sure the grown up fastens the seat
					belt'</strong></p>

			<p> This page contains random content, gathered throughout internet.
				As well you might pop up with some of my own content.

				It combines a gather of memes, GIFs, Blog-posts, Video Links and Audio Links.

			</p>
</div>


<div class="line"></div>


<center>
	<li class="btn-grid-color" style="list-style: none;"><a href="/start/"><button type="button"
				class="btn btn-secondary btn-lg btn-dark">Shall we Start?</button></a>
	</li>
</center>


{% endblock %}